</html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <style media="screen">
        * {
            font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: bolder;
        }

        .row {
            margin: 0;
        }

        .navbar-default {
            height: 100px;
            padding-top: 23px;
            padding-left: 70px;
            border: 0;
            border-radius: 0 !important;
            background: #2c3e50;
        }

        .navbar-default .navbar-brand {
            text-transform: uppercase;
            font-size: 2em;
            text-decoration: none;
            color: white;
            transition: color 0.3s ease;
            cursor: pointer;
        }

        .navbar-default .navbar-brand:hover {
            color: #18bc9c;
            transition: color 0.3s ease;
        }

        .card {
            padding: 10px;
            padding-top: 20px;
            background: #18bc9c;
            border: 1px #c8c3ff solid;
            border-radius: 5px;
            text-align: center;
            margin: 10px 3% 1% 3%;
            height: 190px;
            width: calc(80% * (1/3));
        }

        .card .card-UserName {
            color: #02695e;
            font-size: 2em;
            font-weight: bold;
            text-transform: capitalize;
        }

        .card .card-Password {
            margin-top: 40px;
            font-size: 1.1em;
            font-weight: bold;
            width: 90%;
            border: 2px solid white;
            color: white;
            background: transparent;
            transition: background-color 0.5s ease;
        }

        .card .card-UserName:hover {
            color: #18bc9c;
            background: white;
            transition: background-color 0.5s ease;
        }

        .form-container {
            height: 400px;
            border-left: 1px solid gray;
            padding-left: 30px;
        }

        .form-control {
            width: 90%;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/home">Sign_UP</a>
            </div>
        </div>
    </nav>
   
        <div class="col-xs-12 col-md-4">

            <div class="form-container">
                <h3 style="margin-bottom:40px;">Add New User</h3>
                
                 <% if (empty==1){ %>
                <div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
You must Enter  UserName and Password and  Name 
</div>
<style>

.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}
</style>
<% } %>

 <% if (empty==2){ %>
                <div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
You have Enter an already existing UserName 
</div>
<style>

.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}
</style>
<% } %>


<form class="form-style-4" action="/userTable" method="post" enctype="multipart/form-data">
<label>
<span>UserName</span><input type="text" name = "UserName" required="true" />
</label>
<label>
<span>Password</span><input type="Password" name="Password" required="true" />
</label>
<label>
<span>Full Name</span><input type="text" name="Name" required="true" />
</label>
<label>
 <div class="form-group">
    <input type="file" name="img" id="img">
    <img src="/home/sally/Documents/MiniProject (copy)/uploads" alt="no image" style="width:150px;height:150px;">
    </div>
</label>
<label>
<span>&nbsp;</span><input type="submit" value="Create portofolio" />
</label>
</form>

 <style type="text/css">
.form-style-4{
    width: 450px;
    font-size: 16px;
    background: #495C70;
    padding: 30px 30px 15px 30px;
    border: 5px solid #53687E;
}
.form-style-4 input[type=submit],
.form-style-4 input[type=button],
.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 textarea,
.form-style-4 label
{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    color: #fff;

}
.form-style-4 label {
    display:block;
    margin-bottom: 10px;
}
.form-style-4 label > span{
    display: inline-block;
    float: left;
    width: 150px;
}
.form-style-4 input[type=text],
.form-style-4 input[type=Password] 
{
    background: transparent;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 275px;
    outline: none;
    padding: 0px 0px 0px 0px;
    font-style: italic;
}
.form-style-4 textarea{
    font-style: italic;
    padding: 0px 0px 0px 0px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 275px;
    overflow: hidden;
    resize:none;
    height:20px;
}

.form-style-4 textarea:focus, 
.form-style-4 input[type=text]:focus,
.form-style-4 input[type=email]:focus,
.form-style-4 input[type=email] :focus
{
    border-bottom: 1px dashed #D9FFA9;
}

.form-style-4 input[type=submit],
.form-style-4 input[type=button]{
    background: #576E86;
    border: none;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    color: #A8BACE;
}
.form-style-4 input[type=submit]:hover,
.form-style-4 input[type=button]:hover{
background: #394D61;
}
</style>
<script type="text/javascript">
//auto expand textarea
function adjust_textarea(h) {
    h.style.height = "20px";
    h.style.height = (h.scrollHeight)+"px";
}
</script>


</html>